name: Publish to NPM

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'  # This will match tags like v1.0.0, v2.1.0, etc.

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Build & Publish
        run: |
          pnpm i --frozen-lockfile
          pnpm exec kubik ./build.mts

          VERSION=${GITHUB_REF_NAME#v}

          if [[ "$VERSION" == *"-"* ]]; then
            echo "Publishing prerelease to @next"
            pnpm publish --no-git-checks --tag next
          else
            echo "Publishing stable to @latest"
            pnpm publish --no-git-checks
          fi
